html,body{
    height: 100%;
}
#box{
    height: 100%;
    display: flex;
    flex-flow: column;
}
header{
    height: 1.2rem;
    background-color: #D43C33;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .icon-voice{
    font-size: .666667rem;
    color: white;
}
header .icon-shengyin1{
    font-size: .666667rem;
    color: white;
}
header input{
    height: .8rem;
    width: 7.146667rem;
    padding-left: 1.68rem;
    border-radius: 1rem;
    font-size: .373333rem;
}
/* main */
 main{
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8F9;
    height: 1.066667rem;
    font-size: .4rem;
    flex-shrink:0;
}
nav a{
    color: #D43C33;
    padding: .263333rem 0;
} 
nav a:hover{
    border-bottom: .036667rem solid #D43C33;
} 
/* banner */
.banner{
    height: 3.893333rem;
}
.banner img{
    height: 3.893333rem;
}

 .yuanquan{
    height: 2.773333rem;
    border-bottom: .013333rem solid #969796;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink:0;

}
.yuanquan figure{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.yuanquan .icon{
    width: 1.333333rem;
    height: 1.333333rem;
    border-radius: 2rem;
    border: .023333rem solid #D43C33;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yuanquan .icon img{
    width: .626667rem;

} 



main h2{
    font-size: .426667rem;
    padding: 0 .213333rem ;
    margin: .533333rem 0 .4rem 0;
    border-left: .106667rem solid #D43C33;
}
.tuijian{
    display: flex;
    flex-flow: wrap;
}
.tuijian figure{
    width: 33.3%;
    display: flex;
    flex-flow: column;
}
.tuijian figure img{
    height: 3.266667rem;
}
.tuijian figcaption{
    font-size: .32rem;
}



/* footer */
footer{
    background-color: #191a18;
    opacity: .8;
    height: 1.333333rem;
    display: flex;
}
footer figure{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: rgb(192, 187, 187);
}
footer figure:hover{
    color: white;
}
footer figure i{
    font-size: .606667rem !important;
    
}