
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body{
	background-color: #F2F2F2;
	width: 72%;
	margin: 0 auto;
	}
header{
	width: 100%;
	height: 65px;
	position: relative;
}
header .logo{
	left: 40px;
	/*top: 2px;*/
	position: absolute;

}
header .nav ul li{
	margin-top:22px ;
	float: right;
	list-style-type: none;
	line-height: 38px;
	text-align: center;
	margin-right: 50px;
	font-size: 16px;
}
.banner img{
	width: 100%;
}

/*中间部分*/
.body_m {
	width: 100%;
	height: 300px;
}
.body_m .services{
	width: 50%;

	float: left;
	position: relative;
}
.body_m .services .SERVICES{
	color: white;
	width: 120px;
	height: 50px;
	line-height: 50px;
	background-color: #00B5EE;
	margin-left: 48px;
	font-size: 30px;
	text-align: center;
}
.services_middle{
	height: 110px;
}
.services_middle a{
	font-size: 12px;
	color: #00B5EE;
	left: 48px;
	top: 60px;
	position: absolute;
}
.services_middle p{
	font-size: 12px;
	position: absolute;
	left: 170px;
	top: 60px;
	padding-right: 20px;
}
.services_bottom a{
	font-size: 12px;
	color: #00B5EE;
	left: 48px;
	top: 180px;
	position: absolute;
}
.services_bottom p {
	font-size: 12px;
	position: absolute;
	left: 170px;
	top: 180px;
	padding-right: 20px;
}


.body_m .cases{
	width: 50%;
	float: left;
}
.body_m .cases .CASES {
	color: white;
	width: 120px;
	height: 50px;
	line-height: 50px;
	background-color: #00B5EE;
	margin-left: 10px;
	font-size: 30px;
	text-align: center;
}
.body_m .cases .imgs{
	margin:23px 0 0 10px;
	width: 100%;
}

/*关于我们 新闻中心*/
.body_b{
	margin-top: 30px;
	height: 250px;
}
.body_b .aboutMe{
	padding-right: 10px;
	width: 25%;
	float: left;
	margin-left: 48px;
	border-right:solid 2px #E4E4E4;
	height: 190px;

}
.body_b .aboutMe .we {
	font-size: 16px;
	padding-bottom: 10px;
}
.body_b .aboutMe a{
	float: right;
	font-size: 12px;
	color: #7D7D7D;
}
.body_b .aboutMe p{
	font-size: 12px;
	color: #7D7D7D;
	margin: 40px 45px 0 0;

}
.newsCenter{
	width: 25%;
	padding:0 10px 0 25px;
	float: left;
	height: 190px;
	border-right:solid 2px #E4E4E4;
}
.body_b .newsCenter .news{
	font-size: 16px;
	padding-bottom: 2px;
}
.body_b .newsCenter a{
	float: right;
	font-size: 12px;
	color: #7D7D7D;
}
.body_b .newsCenter img{
	margin: 20px 0 ;
}
.body_b .newsCenter p{
	font-size: 12px;
	color: #7D7D7D;
}
.body_b .activity{
	float: right;
	height: 190px;
	width: 39%;
}
.activity .youhui{
	font-size: 16px;
	padding-bottom: 5px;
}
.activity .more{
	margin-left: 80%;
	font-size: 12px;
	color: #7D7D7D;
	padding-bottom: 8px;
}
.activity a{
	text-decoration: none;
	float: left;
	width: 70%;
	color: #7D7D7D ;
	font-size: 12px;
	padding: 3px;
}
.activity span{
	float: right;
	width: 18%;
	color: #7D7D7D ;
	font-size: 12px;

}
/*小蓝块*/
.buttom_block{
	height: 55px;
}
.buttom_block .blue{
	float: left;
	background-color: #01B6EF;
	width: 50px;
	height: 50px;
	margin-left: 48px;
}
.buttom_block .right_part{
	float: left;
	margin-left: 300px;
	width: 60%;
	height: 50px;
	border: 1px solid gray;
	position: relative;
}
.right_part img{
	float: left;
	margin:15px 10px;
}
.right_part span{
	float: left;
	color: #7D7D7D;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}

.right_part a{
	float: left;
	margin:10px  0 0 10px;
	text-decoration: none;
	font-size: 12px;
	color: #7D7D7D;
	padding-right: 15px;
}

/*底部*/
footer{
	height: 230px;
	background-color: #383838;
	position: relative;
}
footer nav{
	padding:50px 0 0 50px ;
}
footer nav li{
	text-decoration: none;
	display: inline;
	color: #A9A9A9;
	font-size: 14px;
}
footer p{
	font-size: 12px;
	padding: 10px 0 10px 0;
	color: #919191;
	margin-left: 50px;
}
footer .text span{
	color: #919191;
	margin-left: 50px;
	font-size: 12px;
}
footer .free span{
	color: #919191;
	font-size: 14px;
	position: absolute;
	top:50px;
	right: 195px;
}
footer .free h2{
	color: #919191;
	position: absolute;
	top:70px;
	right: 65px;
}
footer .last span{
	position: absolute;
	font-size: 12px;
	bottom: 30px;
	left: 45%;
	color: #919191;

}